.pageDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
}

    .basketDiv {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0rem;
    }
    
        .basketItemDiv {
            width: 200px;
            height: 18rem;
            border: 1px solid rgb(0,0,0,0.3);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 1.5rem 0.5rem;
            margin-bottom: 1rem;
            box-sizing: content-box;
            background: white;
            font-size: 0.95rem;
        }

            .basketItemImg {
                object-fit: contain;
                width: 7.5rem;
                height: auto;
                margin-bottom: 1rem;
            }

            .basketItemQuantityDiv, .basketItemInfoDiv {
                width: 80%;
            }

            .basketItemQuantityDiv {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.25rem 0;
            }
                .quantityButton, .binIcon {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }

                .quantityButton {
                    background: #f3f3f3; 
                    border-radius: 5px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    user-select: none;
                }

                .binIcon {
                    background: #f3f3f3;
                    border-radius: 5px;
                    padding: 5px;
                }

            .basketItemInfoDiv {
                display: flex;
                flex-direction: column;
            }

    

@media(min-width:500px) {
}

@media(min-width:700px) {
}

@media(min-width:920px) {
}

@media(min-width:1280px) {
}

@media(min-width:1500px) {
}