.header {    
    background: #2563EB;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    z-index: 999;
}

    .routes {
        margin-left: 2rem;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #e5e7eb;
        font-weight: bold;
    }


@media (min-width: 1200px) {
    .headerLinks {
        margin: 0 auto;
    }
    
    .headerIconDiv {
        width: 5rem;
        margin-right: 24vw;
    }
}