.header {    
    background: #2563EB;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    z-index: 999;
}

    .routes {
        margin-left: 2rem;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #e5e7eb;
        font-weight: bold;
    }

    .header > a {
        margin: 0;
    }

    .hamburgerIcon {
        height: 40%;
    }


    .rightIcons {
        display: flex;
        margin-left: auto;
        width: 10%;
        justify-content: end;
    }
        
        .rightIcons > a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }

            .cartIcon {
                width: 30px;
            }

            .userIcon {
                width: 30px;
            }
    