.header {    
    background: #2563EB;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
}

    .header > a {
        margin: 0;
    }

    .hamburgerIcon {
        height: 40%;
    }


    .rightIcons {
        display: flex;
        margin-left: auto;
        width: 9%;
        justify-content: space-between;
    }
        
        .rightIcons > a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .cartIcon {
                width: 30px;
            }

            .userIcon {
                width: 30px;
            }
    