.root {
    width: 100%;
    height: 100%;
}

    .heroDesktopImage {
        width: 100%;
        display: none;
    }
    
    .heroMobileDiv {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: clamp(10px, 5vw, 22.5px);
        margin: 0 auto;
    }

        .heroMobileDiv > h1 {
            margin: 0;
            padding-top: 0.5rem;
            font-size: clamp(10px 3vw, 20px);
        }

        .heroMobileImage {
            width: 80%;
            padding: 0 0 1rem 0;
            filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.2));
        }
    
    .scrollListDiv {
        padding: 0 1rem;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }

    
        .scrollListHeading {
            font-size: 1.5rem;
            padding: 0.5rem 0 0.5rem 0;
            margin: 0;
            font-weight: bold;
        }

        .productScrollList {
            height: clamp(310px, 17vw, 350px);
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: start;
            overflow-x: scroll;
            background: inherit;
        }

            .scrollProductLi {
                min-height: 140px;
                height: 100%;
                max-height: 290px;
                min-width: 180px;
                width: 180px;
                display: flex;
                flex-direction: column;
                font-size: clamp(0.9rem, 1vw, 2rem);
                padding: 0.5rem;
                
                list-style-type: none;
                border: 1px solid rgb(0,0,0,0.3);
                background: white;
                border-radius: 5px;
                filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.05));
            }

                .scrollProductLi:not(:last-child) {
                    margin-right: 0.75rem;
                }   

                .scrollProductImage {
                    width: 100%;
                    height: 100%;
                    max-height: 70%;
                    object-fit: contain;

                    /* alt text */
                    text-align: center;
                    font-weight: bolder;
                }

                .scrollProductInfoDiv {
                    display: flex;
                    flex-direction: row;
                    margin-top: auto;
                }

                    .infoDivLeftDiv {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: start;
                        width: 100%;
                    }
                        .scrollProductLiPrice {
                            color: rgb(32, 32, 32);
                            font-size: clamp(16px, 2.5vw, 20px);
                        }

                        .scrollProductLiName {
                            width: 100%;
                            font-weight: bold;
                            font-size: clamp(17px, 1.5vw, 18px);
                        }
                    
                    .scrollProductLiCartIcon {
                        height: 1.5rem;
                        width: 1.5rem;
                        position: absolute;
                        bottom: 3%;
                        right: 5%;
                        cursor: pointer;
                    }


@media (min-width: 520px) {

    .root {
        padding: 0 clamp(5%, 1vw, 15%);
    }

        .heroDesktopImage {
            display: block;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            width: auto;
            height: 10%;
            padding-bottom: 0;

        }

        .heroMobileImage {
            display: none;
            height: 100%;
        }


        .scrollListDiv {
            padding: 0;
        }
        
            .scrollListDiv > ul {
                padding-bottom: 1rem;
            }
}